
// base 作为 normalize reboot 的补充，扩展基本设置
// --------------------------------------------------------------------------
// update: 2015-10-16
//
// 此处基于底层的重置样式，用于自定义全局基础样式，需要包括最常用的基础设定
//
// 全局字体大小，行高，字体
// 超链接颜色，hover 与 active 状态(和 reboot 互补并对中文特性优化)
// 图片相关设定，不要撑破容器，兼容 map 设定
// 输入框、文本框设定
// 对使用的标题 h1等标签以及段落 p 标签，做默认处理
// 最后并入状态样式设定 status.scss，包含 hidden，block，round，disabled 等


html {
  // rem 基准
  font-size: $font-size-root;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-color;
  background-color: $body-background;
}

/**
 * html 属性设置
 * IE9和IE10使用`font`的简写属性时不承认`rem`单位。reboot中使用 font-size 书写
 * -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 这个属性只用于iOS (iPhone和iPad)。当你点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景。要重设这个表现，你可以设置-webkit-tap-highlight-color为任何颜色。
       想要禁用这个高亮，设置颜色的alpha值为0即可。
 * 采用 rem 单位，html 元素必须设定字体值，设定为 $font-size-root: 16px;
 */



/**
 * 1. http://usabilitypost.com/2012/11/15/w-optimizelegibility-on-mobile-devices/
 * 2. http://maxvoltar.com/archive/-webkit-font-smoothing
 *    设置 smoothing 使页面上的字体抗锯齿，更清晰舒服，特别针对图标文字
 * NOTE: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
 * 3. http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *    http://jaydenseric.com/blog/css-font-smoothing-for-firefox-mac
 * 4. http://blogs.msdn.com/b/ie_cn/archive/2012/01/17/css.aspx
 */

body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;  /* 1 */
  -webkit-font-smoothing: antialiased; /* 2 Default: subpixel-antialiased */
  -moz-osx-font-smoothing: grayscale;  /* 3 Default: auto */
  -moz-font-feature-settings: "liga", "kern"; /* 4 */
}

figure {
  margin: 0 0 auto 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
  resize: vertical;
}


/**
 * 限制不要撑破容器
 * [img max-width100% 引起地图不显示图片](https://github.com/amazeui/amazeui/issues/502)
 */
img {
  max-width: 100%;
  // height: auto;
}

// Remove max-width style for map
// add selectors like Baidu Map, Sogou Map, AutoNavi, .etc
#map_canvas,
.map_canvas {
  img,
  embed,
  object {
    max-width: none !important;
  }
}

/**
 * 此修改暂不设定
 * Abbreviation and definition

abbr[title],
dfn[title] {
  cursor: help;
}

dfn[title] {
  border-bottom: 1px dotted;
  font-style: normal;
}

dfn {
  font-style: normal;
}
 */


 // Horizontal rule
 // 1. Address differences between Firefox and other browsers.
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  -moz-box-sizing: content-box; //1
  box-sizing: content-box; // 1
}


/* Address */
address {
  font-style: normal;
}


/* iframe */
iframe {
  border: 0;
}


/* Forms
   ========================================================================== */

/**
  * Vertical alignment
  * Exclude `radio` and `checkbox` elements because the default `baseline` value aligns better with text
  */
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
  vertical-align: middle;
}


/**
 * Fix viewport for IE10 snap mode
 * http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
 * http://msdn.microsoft.com/en-us/library/ie/hh869615%28v=vs.85%29.aspx
 * http://msdn.microsoft.com/zh-cn/library/ie/hh708740(v=vs.85).aspx
 * @2014.01.20: 设置以下属性以后，windows Phone 8 上显示的字体过小，暂时注释掉
 * ========================================================================== */
/*
@-ms-viewport {
  width: device-width;
}
*/



/**
 * Address `outline` inconsistency between Chrome and other browsers.
 * 暂时不加
 */

// a:focus {
//   outline: thin dotted;
// }

/**
 * Remove text-decoration
 */

ins, a {
  text-decoration: none;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: 100%;
// }
//
// * + h1,
// * + h2,
// * + h3,
// * + h4,
// * + h5,
// * + h6 {
//   margin-top: 1em;
// }
//
// h1 {
//   font-size: 1.5em;
// }
//
// h2 {
//   font-size: 1.25em;
// }
